body{
    background-color: rgb(53, 49, 49);
}

.debug-display{
    width: 300px;
    height: 50vw;
    background: white;
}

.pixel-simulator-app{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.user-interface{
    width: 200px;
    height: 50vh;
    background: white;
}